<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Templatet  - {% block title %}{% endblock %}
    </title>
</head>
<body>
    <a href="{{ url_for('index')}}">Home</a>
    <a href="{{ url_for('about')}}">About</a> |
    <a href="{{ url_for('faverite_song')}}">Faverite song</a> |
    <a href="{{ url_for('faverite_sport')}}">Faverite sport</a> |
    <br>
    {% block content %}{% endblock %}
    
</body>
</html>